/*mobile*/
/*mobile*/
/*mobile*/

/*header bolmesi*/
/*en ust hise*/
#top {
  display: flex;
  margin: auto;
}
#wblogo {
  padding: 40px 15px;
}
.topcontent1,
.topcontent2,
.topcontent3 {
  display: none;
}
.mobilemenuicon {
  display: inline;
  font-size: 20px;
  margin: auto;
  padding: 0 0 0 230px;
}
.mobilemenuicon:hover {
  color: #1089ff;
}
menu {
  display: none;
}
/*main bolmesi*/
/*1ci hisse*/
.main1 {
  display: flex;
  flex-direction: column;
  background: url("/img/Ekran\ Resmi\ 2025-09-30\ 15.31.57.png") left/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main1 h1 {
  text-align: center;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: capitalize;
  margin: auto;
  line-height: 60px;
}
.main1 p {
  text-align: center;
  color: #fff;
  font-family: muli;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 25px;
  margin: auto;
  padding: 10px 0 30px 5px;
}
.btn {
  text-align: center;
  background-color: #1089ff;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  padding: 16px 48px;
}
.btn:hover {
  background-color: #0860b8;
}
.scroll {
  display: none;
}
/*2ci hisse*/
.main2 {
  padding: 40px 15px;
}
.main2 img {
  width: 381px;
  height: 254px;
}
.main2 .text_about {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 100;
  color: #1089ff;
  text-transform: capitalize;
}
.main2 h3 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 30px;
}
.main2 .h3after {
  background-color: #1089ff;
  height: 2px;
  width: 50px;
  margin: 0 0 30px;
}
.main2 .textfirst,
.textsecond {
  font-family: muli;
  color: #808080;
  font-size: 20px;
  line-height: 35px;
  font-weight: 100;
}
.main2 .textfirst {
  margin: 0 0 30px;
}
.main2 .textsecond {
  margin: 0 0 30px;
}
.main2 .btn2 {
  text-align: center;
  background-color: #1089ff;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 16px 24px;
  letter-spacing: 4px;
}
.main2 .btn2:hover {
  background-color: #0860b8;
}
.main2 .icons {
  margin-top: 90px;
  color: #1089ff;
  font-size: 70px;
}
.main2 .icons h3 {
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: capitalize;
  font-weight: 400;
  margin: 20px 0 8px;
}
.main2 .icons p {
  color: #808080;
  font-size: 18px;
  line-height: 45px;
  font-weight: 100;
  font-family: muli;
}
/*stat hissesi*/
.stats {
  background-image: url("/img/statimg.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  gap: 0px 10px;
  padding: 30px 0px;
}
.stats h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 5px;
}
.stats p {
  text-align: center;
  font-weight: 200;
  font-family: muli;
  color: #ffffff;
  font-size: 15px;
}
/*3ci hisse*/
.main3 {
  background: #efeded;
}
.main3 {
  text-align: center;
  padding: 44px 15px;
}
.main3 p {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 100;
  color: #1089ff;
  text-transform: capitalize;
}
.main3 h3 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 30px;
}
.main3 .h3after {
  margin: 40px 168px;
  background-color: #1089ff;
  height: 2px;
  width: 50px;
}
/*cardlar*/
.card {
  margin: 10px 0;
}
.card,
.card img {
  border-radius: 0;
}
.card h5 {
  font-size: 18px;
  float: left;
  font-family: "Oswald";
}
.card h5 i {
  color: #1089ff;
}
.card p {
  font-size: 16px;
  font-family: muli;
  float: left;
  color: #808080;
}
.card a {
  font-size: 16px;
  color: #fff;
  margin-left: 100px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #1089ff;
}
.card a:hover {
  background-color: #0860b8;
}
/*4cu hisse ust*/
.main4 {
  padding: 25px;
}
.main4 img {
  padding: 35px 0;
  max-width: 100%;
  height: auto;
}
.main4 p {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 100;
  color: #1089ff;
  text-transform: capitalize;
}
.main4 h3 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 30px;
}
.main4 .h3after {
  margin: 40px 0;
  background-color: #1089ff;
  height: 2px;
  width: 50px;
}
/*4cu hisse*/
.main4 .form {
  color: #808080;
  font-size: 17.6px;
}

.main4 .form p {
  color: #1089ff;
}
.main4 .form h3 {
  color: #000000;
}
label {
  font-family: muli;
  font-weight: 100;
}
textarea {
  margin-bottom: 30px;
}
.main4 .btn2 {
  text-align: center;
  background-color: #1089ff;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  margin-top: 50px;
  padding: 16px 44px;
  letter-spacing: 4px;
}
.main4 .btn2:hover {
  background-color: #0860b8;
}
/*5ci hisse*/
.main5 {
  margin-top: 150px;
}
.main5 {
  text-align: center;
}
.main5 p {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 100;
  color: #1089ff;
  text-transform: capitalize;
}
.main5 h3 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 30px;
}
.main5 .h3after {
  margin: 40px 0;
  justify-self: center;
  background-color: #1089ff;
  height: 2px;
  width: 50px;
}
.main5 .row {
  margin: 0;
}
.person {
  position: relative;
}
.person figure {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.person .person-contents {
  text-align: center;
}
.person .person-contents h3 {
  color: #000;
}
.person .person-contents .position {
  font-family: muli;
  color: #1089ff;
}
.person:hover img {
  transform: scale(1.05);
}
.person .social {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
}
.person .social a {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  color: #1089ff;
  background: #fff;
  position: relative;
}
.person .social a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: scale();
}
.person .social a:hover {
  background: #000;
  color: #fff;
}
/*6ci hisse*/
.main6 {
  margin-top: 150px;
}
.main6 {
  text-align: center;
}
.main6 p {
  font-size: 20px;
  font-family: "Dancing Script";
  font-weight: 100;
  color: #1089ff;
  text-transform: capitalize;
}
.main6 h3 {
  font-size: 28px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 30px;
}
.main6 .h3after {
  margin: 40px 0;
  justify-self: center;
  background-color: #1089ff;
  height: 2px;
  width: 50px;
}
.main6 blockquote p {
  margin: 0 25px;
  padding: 30px;
  border: 1px solid #80808076;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
  font-family: muli;
  font-style: italic;
  text-align: justify;
  color: #808080;
}
.main6 blockquote i {
  font-size: 1.3em;
  display: flex;
  justify-self: right;
  color: #1089ff;
}
.tester {
  display: flex;
  margin: 0 25px 25px;
}
.main6 .tester img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.main6 .testerid {
  margin: 5px 16px;
  text-align: start;
}
.main6 .tester .testerid h6 {
  margin-bottom: 4px;
  font-size: 16px;
  color: initial;
  font-family: muli;
}
.main6 .tester .testerid p {
  font-size: 15px;
  color: #ccc;
  font-family: muli;
}
/*7ci hisse*/
.main7 .stats {
  background-image: url("/img/statimg.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 0px;
}
.main7 .stats h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.main7 .stats p {
  text-align: center;
  font-weight: 200;
  font-family: muli;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
}
.main7 a {
  display: flex;
  text-align: center;
  background-color: #ffa139;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 16px 44px;
  letter-spacing: 4px;
  justify-self: center;
}
.main7 a:hover {
  background-color: #d98320;
}
/*footer bolmesi*/
footer {
  margin: 0 25px;
}
footer #wblogo1 {
  margin: 40px 0 30px 0;
}
footer p {
  font-size: 15px;
  color: #888;
  font-family: muli;
}
footer .lm {
  display: flex;
  font-family: muli;
  font-size: 15px;
  color: #1089ff;
  text-transform: capitalize;
  margin-top: 20px;
}
footer .oc {
  display: inline-block;
  margin: 10px 0 30px 0;
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  border-bottom: 2px solid #1089ff;
}
footer li a {
  font-size: 15px;
  color: #1089ff;
  margin-bottom: 10px;
  font-family: muli;
}
footer li a:hover {
  border-bottom: 2px solid #1089ff;
}
.copyright {
  padding: 112px 0;
  font-size: 15px;
  font-family: muli;
  color: #888;
}
.copyright span {
  color: #1089ff;
}
/*boyuk ekran*/
/*boyuk ekran*/
/*boyuk ekran*/
@media only screen and (min-width: 768px) {
  /*header bolmesi*/
  #wblogo {
    width: 290px;
    margin: auto;
    padding-left: 165px;
  }
  .topcontent1,
  .topcontent2,
  .topcontent3 {
    display: flex;
    margin: auto;
  }
  .topcontent1 {
    margin-right: 100px;
  }
  .topcontent2 {
    margin-left: -70px;
  }
  .topcontent3 {
    margin-left: -90px;
  }
  .toptext {
    display: inline;
    line-height: 30px;
  }
  .topicon {
    width: 50px;
    height: 50px;
    background: #1089ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .topicon i {
    font-size: 20px;
    color: #fff;
  }
  .toptext h4 {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .toptext p {
    font-size: 16px;
    font-weight: lighter;
    color: #808080;
    font-family: muli;
  }
  .mobilemenuicon {
    display: none;
  }
  /*nav hissesi*/
  nav {
    position: sticky;
    top: 0;
    z-index: 2000;
    text-align: center;
    background-color: #1089ff;
  }
  nav menu {
    display: flex;
    justify-content: center;
  }
  nav menu li a {
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 35px 30px;
  }
  a {
    display: inline-block;
  }
  nav menu li :hover {
    color: #000000;
    transform: scale(1.2);
  }
  /*main bolmesi*/
  /*1ci hisse*/
  .main1 h1 {
    font-size: 3em;
  }
  .main1 p {
    font-size: 1.3em;
    line-height: 40px;
  }
  .btn {
    letter-spacing: 2px;
  }
  .scroll {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .scrollleft,
  .scrollright {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    font-size: 30px;
    background-color: #fff;
    padding: 3px 0px 0px 6px;
    border-radius: 50%;
  }
  .scrollleft:hover {
    color: #fff;
    background-color: #1089ff;
  }
  .scrollright:hover {
    color: #fff;
    background-color: #1089ff;
  }
  /*2ci hisse*/
  .main2 {
    margin: 50px 170px;
  }
  .main2 img {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 45px 0 0;
  }
  .main2 .text_about {
    font-size: 30px;
  }
  .main2 h3 {
    font-size: 30px;
    margin: 5px 0 20px 80px;
  }
  .main2 .h3after {
    float: left;
  }
  .main2 .textfirst,
  .textsecond {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
    text-align: justify;
  }
  .main2 .textfirst {
    margin: 60px 0 0 70px;
  }
  .main2 .textsecond {
    margin: -10px;
  }
  .main2 .icons {
    display: flex;
    font-size: 75px;
    margin: 200px 20px 0px 0;
  }
  .main2 .icons h3 {
    font-size: 30px;
    margin: 10px;
  }
  .main2 .icons p {
    margin: 10px;
  }
  .stats {
    width: 100%;
    gap: 0 30px;
    padding: 90px 70px;
  }
  .stat h3 {
    font-size: 50px;
  }
  .stat p {
    font-size: 18px;
    letter-spacing: 1px;
  }
  /*3cu hisse*/
  .main3 .h3after {
    margin: auto;
    margin-bottom: 80px;
  }
  .card {
    width: 25rem;
    margin: 10px 15px;
  }
  .card h5 i {
    color: #1089ff;
  }
  .card a {
    font-size: 20px;
    margin-left: 130px;
  }
  /*4cu hisse ust*/
  .main4 {
    display: grid;
    grid-template-columns: 58% auto;
    margin: 10px 140px;
    gap: 30px;
  }
  .main4 .main4img img {
    padding: 0;
  }
  /*4cu hisse form*/
  input {
    height: 3em;
  }
  .main4 textarea {
    margin-bottom: 0px;
  }
  .main4 .btn2 {
    margin-top: 0px;
  }
  /*5,6ci hisse*/
  .main5,
  .main6 {
    margin: 90px;
  }
  .main6 .testsec {
    display: flex;
  }
  .main6 .figure {
    display: flex;
    flex-wrap: wrap;
  }
  .main7 .stats {
    padding: 50px;
  }
  .main7 a {
    padding: 20px 58px;
  }
  /*footer*/
  .footnav {
    display: flex;
    padding: 64px 0;
    justify-content: space-evenly;
  }
  footer .f1 {
    margin-top: -30px;
    max-width: 15%;
  }
  footer #wblogo1 {
    margin: 20px;
  }
  .copyright {
    text-align: center;
  }
}
